.bigBangSection {
    padding-top: 25px;
    padding-bottom: 50px; /* Добавляем нижний отступ */
    background: url('../../../assets/overview.png');
    background-size: cover; /* Лучше использовать cover для масштабирования фона */
    background-position: center;
}

.bigBangSectionInner {
    h2 {
        text-align: center;
        font-family: "Chakra Petch", sans-serif;
        font-size: 50px;
        margin-bottom: 40px;

        span {
            font-family: "Chakra Petch", sans-serif;
            color: #EB4834;
        }
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 40px;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 480px) {
        h2 {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }
}

.bigBangText {
    display: flex;
    gap: 25px;
    
    p {
        color: #CDC6FF;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 1.6;
    }

    @media (max-width: 768px) {
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    @media (max-width: 480px) {
        p {
            font-size: 14px;
            line-height: 1.4;
        }
    }
}

.bigBangSectionContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    img {
        width: 500px; /* Уменьшаем размер изображения */
        height: auto;
        margin-top: -50px;
        transition: all 0.3s ease; /* Анимация для плавных изменений */

        @media (max-width: 768px) {
            margin-top: 0;
            width: 300px;
        }

        @media (max-width: 480px) {
            width: 100%; /* Изображение на всю ширину */
            max-width: 250px;
        }
    }
}

