.subscribeUs{
    display: flex;
    align-items: center;
    padding-top: 90px;
    background-color: #271270;
    margin-bottom: -213px;
}

.subscribeUsInner {
    display: flex;
    align-items: center;
    border-radius: 35px;
    position: relative;
    max-width: 1180px;
    position: relative;
    background: linear-gradient(45deg, #7000D3, #280B70);
    
    h2 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 45px;
        margin-left: -10px;
        margin-bottom: 30px;
    }
    p {
        line-height: 1.4;
    }
}

.subscribeUsInputAndButton {
    display: flex;
    margin-top: 30px;
    align-items: center;
    position: relative;
    button {
        margin-left: -155px;
        margin-bottom: 4px;
    }
}

.subscribeUsContent {
    position: relative;
    left: -185px;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    width: 550px;
    z-index: 1;
}

.subscribeUsInput {
    border-radius: 30px;
    padding: 5px 30px;
    outline:none;
    background-color: #220970;
    border: 0;
    font-size: 19px;
    height: 70px;
    width: 100%;
}

.subscribeUsImage {
    position: absolute;
    right: 0;
    z-index: 0;
}