.header {
    padding-top: 20px;
  }
  
  .header__logo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 32px;
    width: 200px;
  }
  
  .header__navLink {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .header__navLink:hover {
    color: #CDC6FF;
  }
  
  .header__navList {
    display: flex;
    gap: 30px;
    margin-right: 35px;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
  }
  
  .header__inner {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__burger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
  }
  
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 14px;
    transition: all 0.3s ease 0s;
  }
  
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  
  .header__burger::before {
    top: 0;
  }
  
  .header__burger::after {
    bottom: 0;
  }
  
  .header__burger.active span {
    transform: scale(0);
  }
  
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 14px;
  }
  
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  
  @media (max-width: 1024px) {
    .header__nav ul{
        gap: 15px; 
    li a{
        font-size: 12px;
        
    }
  }}

  @media (max-width: 768px) {
    .header__burger {
      display: block;
    }
  
    .header__nav {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 100px 30px 30px 30px;
      transition: all 0.3s ease 0s;
      overflow: auto;
    }
  
    .header__nav.active {
      top: 0;
    }
  
    .header__navList {
      display: block;
      margin-right: 0;
    }
  
    .header__navLink {
      font-size: 24px;
    }
  }
  