.tokenomicsSection {
    background: linear-gradient(#210158, #271270);
    padding-top: 30px;
    padding-bottom: 90px;
    h2 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 50px;
        font-weight: 700;
        span {
            color: #EB4834;
            font-family: "Chakra Petch", sans-serif;
            font-weight: 700;
        }
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 40px;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 480px) {
        h2 {
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
}

.tokenomics2Cards {
    display: flex;
    justify-content: center;
    gap: 150px; /* Добавляем пространство между карточками */
    @media (max-width: 1024px) {
        flex-direction: column; /* Для планшетов и мобильных делаем вертикальное расположение карточек */
        gap: 20px;
        align-items: center; /* Выравнивание карточек по центру */
    }
}

.tokenomicsCard {
    display: flex;
    align-items: center;
    gap: 40px; /* Уменьшаем расстояние между элементами */
    max-width: 552px;
    justify-content: center;
    border: 2px solid #5B4AA3;
    padding: 40px 30px; /* Уменьшаем внутренние отступы для более компактного отображения */
    background-color: #3B278A;
    border-radius: 15px;
    max-height: 357px;
    transition: transform 0.3s ease; /* Добавляем плавную анимацию */

    h3 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 30px;
        font-weight: 600;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Уменьшаем расстояние между пунктами */
        font-size: 18px;
        margin-left: 20px;
        margin-top: 25px;

        li {
            list-style: decimal;
            color: #CDC6FF;
        }
    }

    img {
        width: 180px;
        height: 200px;
        transition: all 0.3s ease; /* Плавное изменение размера изображения */
    }

    &:hover {
        transform: scale(1.05); /* Эффект увеличения карточки при наведении */
    }


}
@media (max-width: 450px) {
    .tokenomicsCard {
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        img {
            height: 140px;
            width: 126px;
        }
    }
}