.cardsSection {
    padding-top: 33px;
    background-color: #271270;
    padding-bottom: 70px;
} 


.peviewCards {
    display: flex;
    gap: 84px;
    justify-content: space-between;
    h3 {
        color: #EB4834;
        font-size: 35px;
        font-family: "Chakra Petch", sans-serif;
        margin-bottom: 35px;
    }
}

.cardBody {
    display: flex;
    border:2px solid #5B4AA3;
    align-items: center;
    justify-content: center;
    padding: 12px 50px 12px 20px;
    border-radius: 15px;
    background-color: #220970;
}

.cardBodyContent {
    display: flex;
    align-items: center;
    span {
        color: #CDC6FF;
        font-size: 19px;
    }
}



.cardBodyContentBlock2, .cardBodyContentBlock1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    span {
        display: flex;
        align-items: center;
        span {
            color: #EB4834;
            font-size: 25px;
        }
    }
    img {
        margin-right: 15px;
    }
}

.cardBodyLine{

}