.bgc {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%); /* Центруем изображение */
    z-index: 0;
    width: 1920px; /* Ставим фиксированную ширину изображения */
    max-width: none; /* Отменяем максимальную ширину */
    height: 1280px; /* Сохраняем пропорции изображения */
    @media (max-width: 1024px) {
      height: 1170px;
    }
    @media (max-width: 500px) {
      height: 1300px !important;
    }
}
.wrapper {
    position: relative;
    overflow: hidden; /* Скрываем содержимое, выходящее за границы */
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('./assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    src: url('./assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    src: url('./assets/fonts/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 600; /* Medium weight */
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    src: url('./assets/fonts/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold weight */
  }
  
  @font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeue.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
  }