.bgc {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%); /* Центруем изображение */
    z-index: 0;
    width: 1920px; /* Ставим фиксированную ширину изображения */
    max-width: none; /* Отменяем максимальную ширину */
    height: 1280px; /* Сохраняем пропорции изображения */
}
.wrapper {
    position: relative;
    overflow: hidden; /* Скрываем содержимое, выходящее за границы */
}