* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}
#root {
  /* background-image: linear-gradient(rgba(40, 11, 112, 0.5), rgba(39, 18, 112, 0.5)), 
  url('./images/bgc.png');
  background-repeat: no-repeat; */
  background-color: #280B70;
  background-size: contain;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('./assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('./assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('./assets/fonts/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 600; /* Medium weight */
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('./assets/fonts/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/BebasNeue.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
}